.navbar {
  z-index: 9;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #212529;
}

.navbar #logo {
  height: 50px;
  margin-top: 5px !important;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
  transition: all 1s ease;
}
.navbar ul li a:hover {
  background: black;
}
.navbar ul li a span {
  margin-left: 7px;
}
