#about .container {
  position: relative;
  top: 150px;
  min-height: 100vh;
}
.container h2 {
  margin-top: 100px;
}
.container h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
#about .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 95%;
  width: 90%;
  margin: auto;
  text-align: justify;
}
#about .card .card-content {
  padding: 2px 16px;
}
